
body {
  /* flex: 1; */
  /* display: flex;
  width: 100%; */
 padding-top: 10px;
}
.navCon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 10%;
}

.rightYellow{
  position: absolute;
  right:  0;
  top: 0;
  width: 50% ;
  z-index: -1;
}
.leftGreen{
  position: absolute;
  top: 0;
  z-index: -1;
}
.illPic{
  position: absolute;
  right:  0;
  top: 0;
  margin-top: 180px;
  margin-right: 80px;
  width: 40% ;
  z-index: -2;
}

.logo {
  /* width: 20%;
  min-width: 180px; */
  height: 73px;
  /* margin-left: 20%; */
  /* margin-top: 50px; */
}

.topNav{
  display: flex;
  align-items: center;
  justify-content: center;
}
.topNavItmCountainer{
  display: flex;
  flex-direction: row;

}

.topNavItm {
  margin: 0 50px;
  font-family: 'Regular';
  font-weight: bold;
  font-size: 1.2rem;
  list-style-type: none;
  color:  white;
  text-shadow: 1px 1px 2px black;
}
#frtItm{
  color: #495E57;
  text-shadow: 1px 1px 2px gray;
}

.aboutUsParagraph{
  width: 50%;
  text-align: justify;
  text-justify: inter-word;
  font-family: 'Regular';
}

.resturantAbout{
  margin-left: 10%;
  margin-top: 70px;
}

.welcomTxt{
  font-family: 'Italic';
  color:#495E57
}

.restName{
  font-family: 'Bold';
  font-size:  5rem;
  color: #F4CE14;
  /* text-shadow: 1px 1px 4px  black; */
}

.whoAreTxt{
  font-family: 'Italic';
}

.mainBtnClass {
  height: 50px;
  border-radius: 23.5px;
  width: 125px;
  margin-right: 20px;
  background-color: #E0E0E0;
  color:#495E57 ;
  border-color: #F4CE14;
  font-family: 'Bold';
  font-size: 16px;
  border-width: 1.5px;
}
button:hover {
  background-color:#F4CE14;
  color: white;
  font-size: bold;
}

.secPick{
height: 900px;
background-color: #FAFAFA;
margin-left: 10%;
margin-right: 10%;
margin-top: 30px;
border-radius: 25px ;
}

.switcherNav {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  margin-right:50px;
}
.frstComp{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

 
}


.stepsContainer{
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: space-between;
  /* margin-left: 20%;*/
  margin-right: 50px; 
  
}

.frstPickerMainCon {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.pickDate {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  /* height: 600px; */
  width: 90%;
  margin-right: 10%;
  margin-top: 70px
}

.pickDate h2 {
  font-family: 'Bold';
  display: flex;
  flex-direction: row;
  align-items: center;
  
}

.pickerContainer {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  /* margin-left: 30px; */
  /* margin-right: 30px; */
  width: 50%;
  height: 674px;
  margin-top: 30px;
}




.dubaiViewContainer {
  /* width:  560px; */
  width: 50%;
  border-radius: 50px;
  height: 675px;
overflow: hidden;
}

.dubaiViewPic {
  width:  560px;
  border-radius: 50px;
}

.inputsSteps{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 30%;
}


.pickGustNumCont {
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: space-between;
  margin-top: 20px;
  align-items: center;
}

.pickGstBtn {
height: 4em;
width: 4em;
border-radius: 8px;

}

.guestsNumTxt {
  font-family: 'Bold';
  font-size: 1.5em;
  font-weight: bolder;
}

#resTitle {
  font-family: 'Bold';
  font-size: 2rem;
  color:  #333333;
  margin-bottom:30px;
}

.cafPlanPicCon{
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-top: 20px;
}

.cafPlanPic {
  height: 227px;
}
.resBtnMainCont{
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  margin-right: 10%;
  flex-direction: row;
}
.resBtnCont {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin-top: 20px; */
  /* margin-right: 10%; */
  flex-direction: row;
}

.resBtn {
  width: 100%;
  background-color: black;
  color: white;
  font-family: 'Regular';
  font-size: 1.5rem;
  font-weight: bold;
border-radius: 8px;
height: 54px;
margin: 10px 10px 10px 0px
}

.availability {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#redSquare {
  color: #960000;
  margin-right: 5px;
}
#grayquare {
  color: #D9D9D9;
  margin-right: 5px;
}
#chosnSquare{
  color:#F4CE14;
  margin-right: 5px;
}

.frstSecBkImg{
  position: absolute;
  height: 808px;
  /* width: 100%; */
  left: 0px;
  top: 1350px;
  z-index: -3;
}
.secondSecBkImg{
  position: absolute;
  height: 808px;
  /* width: 100%; */
  left: 0px;
  top: 2550px;
  z-index: -3;
}
.thrdSecBkImg{
  position: absolute;
  height: 920px;
  /* width: 100%; */
  left: 0px;
  top: 3850px;
  z-index: -3;
}
.frthSecBkImg{
  position: absolute;
  height: 259px;
  width: 100%;
  background-color: #495E57;
  left: 0px;
  top: 5350px;
  z-index: -3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frthSecBkImg p {
  color: white;
  font-family: 'Regular';
  font-size: 1.5rem;
  margin-top: 100px;
}
.secInfoCont {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-right: 10%;
  margin-top: 30px;
}

.infoInputCon{
  display: flex;
  flex-direction: column;
}
.inputTxt{
  margin-top: 30px;
  height: 42px;
  background-color: #E0E0E0;
  border-radius: 8px;
}

.secInfoCont h2 {
  font-family: 'Regular';
  font-size: 1.8rem;
}

#price {
  margin: 90px 0 0 0;
}

#price2 {
  margin: 30px 0 0 0;
}
.fonAwPayIcn {
  font-size: 2rem;
  margin: 10px;
}

.ccvDateCont{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#expiredDate{
  width: 50%;
}

.congradsContainer{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin-right: 10%;
  margin-bottom: 70px;
}
.congradsContainer img {
  height: 190px;
  width: 190px;
}
.congradsContainer h2 {
  font-family: 'Bold';
  font-weight: bolder;
  font-size: 2.5rem;
  text-align: center;
}

.secCarousell{
 height: 1000px;
 background-color: #FAFAFA;
 margin-left: 10%;
margin-right: 10%;
margin-top: 300px;
border-radius: 25px ;
}
.secContactUs{
  height: 1000px;
  background-color: #FAFAFA;
  margin-left: 10%;
 margin-right: 10%;
 margin-top: 300px;
 border-radius: 25px ;
 }
 .secGetDir{
  height: 1000px;
  background-color: #FAFAFA;
  margin-left: 10%;
 margin-right: 10%;
 margin-top: 300px;
 border-radius: 25px ;
 }
.secCaroCont{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
/* .activeItem{
  height: 573px;
  width:  573px;
  overflow: hidden;
  border-radius: 30px;
  text-align: center;
  color: white;
  font-size: 40px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: box-shadow 1s,  height 250ms, width 250ms, left 1s, margin-top 1s, line-height 250ms, background-color 1s;}
  .activeItem img{
    height: 100%;
  }
  .nonActiveItem img{
    height: 100%;
  }
.nonActiveItem {
  color:white;
  overflow: hidden;
  background-color : red;
   margin: 40px;
   height: 300px;
   width:  300px;
   border-radius: 30px;
} */

.item{
  border-radius: 30px;
  overflow: hidden;
  text-align: center;
  color: white;
  font-size: 40px;
  margin-left: 32px;
  /* position: absolute; */
  /* left: 50%; */
  /* top: 50%; */
  transform: translate(-50%, -50%);
  /* transition: box-shadow 1s, height 250ms, width 250ms, left 1s, margin-top 1s, line-height 250ms, background-color 1s; */
  transition: box-shadow 1s, height 2s, width 2s, left 1s, margin-top 1s ;

}
.item img{
  height: 100%;
  
}
.carouselCont {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: center;
  /* position: relative; */
  margin-top: 550px;
  /* top: 120px;*/
  /* left: 0; */
}

.carouselBtnCont{
  display: flex;
  flex-direction: row;
  margin-top: 150px;
  width: 70%;
}

.carouselBtn{
  background-color: transparent;
  border: none;
  font-size: 2rem;
  margin: 1em;
}
.carouselBtn:hover {
  background-color: transparent;
  color: #F4CE14;
}

.active {
  position: absolute;
  box-shadow: 0 0.1em 1.2em #212121;
  height: 550px;
  width: 550px;
  /* left: 0; */
  z-index: 3;
  margin-top: 180px;
  
}

.active-1 {
  position: absolute;
  height: 417px;
  width:  417px;
  left:30%;
  margin-top: 100px;
  z-index: 2;
}

.active-2 {
  position: absolute;
  height: 300px;
  width:  300px;
  left:20%;
  margin-top: 10px;
  z-index: 1;
}

.active1 {
  position: absolute;
  height: 417px;
  width:  417px;
  left: 65%;
  margin-top: 100px;
  z-index: 2;
}
.active2 {
  position: absolute;
  height: 300px;
  width:  300px;
  left:  75%;
  margin-top: 10px;
  z-index: 1;
}

.imgTxt{
  color: #212121;
  margin: 0;
}
.imgTxt p {
  margin: 0;
}